<div [ngClass]="{'navbar-container':true,'navbar-shadow':scrolled}">
  <div class="navbar-logo">
    <a routerLink="/">Cartlog</a>
  </div>
  <div class="navbar-search">
    <div class="p-input-icon-left">
      <!-- <input type="text" pInputText placeholder="Search" class="p-inputtext-sm" /> -->
      <form [formGroup]="formGroup" class="formContainer">
        <input type="text" class="searchInput" placeholder="Search products" (click)="handleClick()">
        <i class="pi pi-search searchIcon"></i>
      </form>

      <!-- autosuggestion container -->
      <div class="overlay" *ngIf="isSuggested"></div>
      <div class="autosuggestion-section" *ngIf="isSuggested">
        <ul class="autosuggestion-lists">
          <li class="autosuggestion-item">
            <p>Element 1</p><i class="pi pi-times closeIcon"></i>
          </li>
          <li class="autosuggestion-item">
            <p>Element 2</p><i class="pi pi-times closeIcon"></i>
          </li>
          <li class="autosuggestion-item">
            <p>Element 3</p><i class="pi pi-times closeIcon"></i>
          </li>
          <li class="autosuggestion-item">
            <p>Element 4</p><i class="pi pi-times closeIcon"></i>
          </li>
          <li class="autosuggestion-item">
            <p>Element 5</p><i class="pi pi-times closeIcon"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-profile desktopOptions">
    <div class="wishlist-wrapper">
      <p-avatar icon="pi pi-heart" pBadge value="4" severity="success" styleClass="mr-2" [style]="styleBadge"
        shape="circle"></p-avatar>
      <span *ngIf="wishlist.length">{{wishlist.length}}</span>
    </div>

    <p-avatar icon="pi pi-user" pBadge value="4" severity="success" styleClass="mr-2" [style]="styleBadge"
      shape="circle"></p-avatar>
    <div class="wishlist-wrapper">

      <p-avatar icon="pi pi-cart-plus" pBadge value="4" severity="success" styleClass="mr-2" [style]="styleBadge"
        shape="circle" (click)="openCart()"></p-avatar>
      <span>2</span>
    </div>
  </div>
  <div class="navbar-profile mobileOptions">
    <p-avatar icon="pi pi-bars" pBadge value="4" severity="success" styleClass="mr-2" [style]="styleBadge"
      shape="circle" (click)="openCart()"></p-avatar>
  </div>

  <!-- Slider -->
  <p-dialog header="Header" [(visible)]="isCartOpen" [modal]="true" [style]="rightsheetStyle" [draggable]="false"
    [resizable]="false" [position]="position">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </p-dialog>

</div>