<div class="products-grid" [ngStyle]="getGridStyles()">
  <div class="product-grid" *ngFor="let item of data">
    <div class="product-img-section">
      <a [routerLink]="location !== 'productlist' ? 'products/' + item.category + '/' + item.id : item.id"><img [src]="item.images[0]" alt="item.name" class="feature-img"></a>
      <i class="pi pi-heart wishlist" (click)="handleClick()"></i>
      <i class="pi pi-heart-fill wishlist" *ngIf="like" (click)="handleClick()"></i>
      <i class="pi pi-shopping-cart cart" (click)="handleClick()"></i>
      <i class="pi pi-cart-plus cart" *ngIf="like" (click)="handleClick()"></i>
    </div>
    <div class="product-section">
      <p class="product-title">{{item.name}}</p>
      <p class="product-price">₹ {{item.price}}</p>
      <star-rating [readOnly]="true" [getHalfStarVisible]="item.rating" [step]="0.5" [showHalfStars]="true" [starType]="'svg'" [rating]="item.rating"></star-rating>
    </div>
  </div>
</div>
