<div class="products-grid">
  <div class="product-grid" *ngFor="let item of data">
    <div class="product-img-section">
      <img [src]="item.images[0]" alt="item.name" class="feature-img">
      <i class="pi pi-heart wishlist" (click)="handleClick()"></i>
      <i class="pi pi-heart-fill wishlist" *ngIf="like" (click)="handleClick()"></i>
      <i class="pi pi-shopping-cart cart" (click)="handleClick()"></i>
      <i class="pi pi-cart-plus cart" *ngIf="like" (click)="handleClick()"></i>
    </div>
    <div class="product-section">
      <p class="product-title">{{item.name}}</p>
      <p class="product-price">₹ {{item.price}}</p>
    </div>
  </div>
</div>
