<div class="products-grid" *ngIf="gridlayout === 'grid'">
  <div class="product-grid" *ngFor="let item of data">
    <div class="product-img-section">
      <a [routerLink]="location !== 'productlist' ? 'products/' + item.category + '/' + item.id : item.id"><img [src]="item.images[0]" alt="item.name" class="feature-img"></a>
      <i class="pi pi-heart wishlist" *ngIf="!item.isWishlisted" (click)="handleFunction('wishlist', item)"></i>
      <i class="pi pi-heart-fill wishlist" *ngIf="item.isWishlisted" (click)="handleFunction('wishlist', item)"></i>
      <!-- <i class="pi pi-shopping-cart cart" (click)="handleFunction('cart', item)"></i>
      <i class="pi pi-cart-plus cart" *ngIf="!wishlistState" (click)="handleFunction('cart', item)"></i> -->
    </div>
    <div class="product-section">
      <p class="product-title">{{item.name}}</p>
      <p class="product-price" (click)="handleClick()">₹ {{item.price}}</p>
      <star-rating [readOnly]="true" [getHalfStarVisible]="item.rating" [step]="0.5" [showHalfStars]="true" [starType]="'svg'" [rating]="item.rating"></star-rating>
    </div>
  </div>
</div>

<div class="product-liststyle-container" *ngIf="gridlayout === 'list'">
  <div class="product-liststyle" *ngFor="let item of data">
    <div class="liststyle-section-2">
      <img [src]="item.images[0]" alt="item.name">
    </div>
    <div class="liststyle-section-1">
      <div class="wrapper-1">
        <a [routerLink]="location !== 'productlist' ? 'products/' + item.category + '/' + item.id : item.id"><div class="liststyle-title">{{item.name}}</div></a>
        <div class="liststyle-price">₹ {{item.price}}</div>
        <div class="liststyle-rating"><span>{{item.rating}}</span>
          <star-rating [readOnly]="true" [getHalfStarVisible]="item.rating" [step]="0.5" [showHalfStars]="true" [starType]="'svg'" [rating]="item.rating"></star-rating>
        </div>
        <div class="liststyle-desc">{{item.desc}}</div>
      </div>
      <div class="wrapper-2">
        <!-- <div class="add-to-cart" (click)="handleFunction('wishlist', item)"><span>Wishlist</span> <i class="pi pi-heart wishlist"></i></div>
        <div class="add-to-cart" (click)="handleFunction('cart', item)"><span>Add to cart</span> <i class="pi pi-shopping-cart cart"></i></div> -->
      </div>
    </div>
  </div>
</div>
